<h1>Hello <%= name %>, <%= date %></br>
Shall we play a game?</h1>

<table>
<tr>
<td><button id="cell0"> </button></td>
<td><button id="cell1"> </button></td>
<td><button id="cell2"> </button></td>
</tr><tr>
<td><button id="cell3"> </button></td>
<td><button id="cell4"> </button></td>
<td><button id="cell5"> </button></td>
</tr><tr>
<td><button id="cell6"> </button></td>
<td><button id="cell7"> </button></td>
<td><button id="cell8"> </button></td>
</tr>
</table>

<h1 id="winner"></h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../scripts/game.js"></script>
<link rel="stylesheet" type="text/css" href="../stylesheets/game.css"/>
