<div>
    <h2 id="msg"><%- msg %></h2>
    <form action="/ttt" id="play"><input type="submit" value="Play" /><br></form>
    <form action="/adduser" id="register"><input type="submit" value="Create Account" /><br></form>
    <form action="/login" id="login"><input type="submit" value="Login" /><br></form>
    <form action="/logout" method="post" id="logout"><input type="submit" value="Logout" /><br></form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../scripts/home.js"></script>
<link rel="stylesheet" type="text/css" href="../stylesheets/home.css" />
