<h3>Please check your email for your account verification key and enter it here.</h3>
<table align="center">
    <tr>
        <td>Email Address</td>
        <td><input type="text" id="email" value=""></td>
    </tr>
    <tr>
        <td>Verification Key</td>
        <td><input type="text" id="key" value=""></td>
    </tr>
    <tr><td colspan="2" align="center"><button id="submit">Submit</button></td></tr>
</table>
<div id="msg"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../scripts/verify.js"></script>
<link rel="stylesheet" type="text/css" href="../stylesheets/adduser.css" />